<h1>Welcome <%= current_user.email %>!</h1>

<%= form_with model: @watch_party, url: watch_parties_path, method: :post, local: true do |f| %>
  <h1>Movie: <%= session[:title] %></h1>


  <%= f.label :date%>
  <%= f.date_field(:date,:value => Time.now.strftime("%m-%d-%Y"), required: :true) %><br/><br/>
  <%= f.label :time %> (HH:MM AM/PM)
  <%= f.time_field :time, value: Time.now, required: :true %><br/><br/>

  <%= f.label :duration %> (Minutes)
  <%= f.number_field :duration, {min: @watch_party.duration } %>


  <p>Invite friends!</p>
  <% @friends.each do |friend| %>
    <section id=<%= "friend-#{friend.id}" %>>
      <%= f.label :friend, friend.email %><br/>
      <%= check_box(User, friend.id, options = {}) %>
    </section>
  <% end %>


  <br/><%= f.submit "Create Party" %>
<% end %>
