<%= form_with model: @watch_party, url: watch_parties_path, method: :post do |f| %>
  <h1>Movie: <%= session[:title] %></h1>

  <%= f.label :date%>
  <%= f.date_field(:date,:value => Time.now.strftime("%Y-%m-%d")) %><br/><br/>
  <%= f.label :time %> (HH:MM AM/PM)
  <%= f.time_field :time, value: Time.now %><br/><br/>

  <%= f.label :duration %> (Minutes)
  <%= f.text_field :duration , id: "runtime" %><br/><br/>

  <p>Invite friends!</p>
  <% @friends.each do |friend| %>
    <%= check_box_tag :friend %>
    <%= f.label :friend, friend.email %><br/>
  <% end %>


  <br/><%= f.submit "Create Party" %>
<% end %>