<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-brand' href='/'>Home</a>
</nav>

<h2> Welcome <%= current_user.email%> </h2>

<center><%= button_to 'Create a Viewing Party for Movie', new_watch_party_path(session[:user_id]), method: :get %></center>

<h1>Movie Title: <%= @movie_details.title %></h1>
<h3> Movie Vote Average: <%= @movie_details.vote_average %></h3>
<h3>Movie run time: <%= @movie_details.runtime %></h3>

  <h3>Genres: <%= @movie_details.genres.join(", ") %></h3></br>

<p> Movie Summary: <%= @movie_details.overview %></p></br>
<p> Cast: <% @movie_details.actors.each do |actor| %></p>
  <p> <%= actor[:name] %> as <%= actor[:character] %><p> 
<% end %></br>

<h3> <%=  @movie_details.reviews.count %> Review(s)</h3></br>
<p><% @movie_details.reviews.each do |review| %></p>
  <p>Author: <%= review[:author] %><p> 
  <p> <%= review[:content] %><p> 
<% end %></br>
