
<h1> Top <%= @movies.count %> Rated Movie Results <h1>

<%= link_to "Find Top Rated Movies", movies_path %>

<%= form_tag movies_search_path, method: :get do %>
    <p>Find Movies:</p>
    <%= text_field_tag :movie %>
    <%= submit_tag "Search" %>
<% end %>

<% @movies.each do |movie| %>

  <h5> Movie Tittle: <%= link_to movie[:title], "/movies/#{movie[:id]}" %> </h5>
  <h5> Voter Average: <%= movie[:vote_average] %> </h5></br>
<% end %></br>