<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-brand' href='/'>Home</a>
  <a class='navbar-brand' href='/movies'>Find Top Rated Movie</a>
</nav>
<br/>

  <div class='jumbotron jumbotron-fluid'>
    <div class='container'>
      <%= form_tag movies_search_path, method: :get do %>

      <h2>Find Movies:</h2>
        <%= text_field_tag :movie %>
        <%= submit_tag 'Search' %>
        <% end %><br/>

        <h1 class='display-4'><h1><%= @movies.count %> Search Results<h1></h1>
    </div>
  </div>


<% @movies.each do |movie| %>
<ul>
  <li><h5> Movie Tittle: <%= link_to movie.title, movies_details_path(movie.id) %> </h5></li>
  <h5> Voter Average: <%= movie.vote_average %> </h5></br>
</ul>

<% end %></br>
