<%= link_to 'Log Out', '/logout' %>
<%= button_to 'Discover Movies', discover_index_path, method: :get %>

<section id="friends">
  <p>You currently have no friends</p>
  <%= form_tag friends_path(@user), method: :get do %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <%= submit_tag "Add Friend"%>
  <% end %>
</section>

<section id="viewing-parties">
  <p>Feeling like partying?</p>
  <%= link_to "Click here to start a party!" %>
</section>